body {
    background-image: url("images/map.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* ******** HEADING ******** */

h1 {
    text-align: center;
    color: white;
    font-size: 2.5em;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    width: fit-content;
    margin: 25px auto;
    padding: 10px 10px 0 10px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: Papyrus, 'Times New Roman', Times, serif;
    text-shadow: 0 0 15px #0096c7, 0 0 15px #0096c7
}

.container {
    padding: 15px;
    position: relative;
    margin: auto;
}

/* ******** QUESTION ******** */

#question {
    width: 70%;
    padding: 30px 30px 25px 30px;
    border: 3px solid black;
    background-color: rgba(248, 237, 235);
    backdrop-filter: blur(9px);
    color: black;
    font-family: Papyrus, 'Times New Roman', Times, serif;
    border-radius: 6px;
    font-size: 28px;
    margin: 10px auto;
    font-weight: bold;
    width: fit-content;
}

/* ******** ANSWERS ******** */

#answer {
    width: 50%;
    margin: 10px auto;
    color: white;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-left: -40px;
}

#answer ul li {
    width: 40%;
    height: 40px;
    background-color: #22223b;
    color: white;
    padding-top: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}

#a {
    border: 6px #0077b6 double
}
#a:hover {
    
}
#b {
    border: 6px #7f5539 double
}
#c {
    border: 6px red double
}
#d {
    border: 6px white double
}

/* ******** SCOREBOARD ******** */

#scores {
    display: flex;
    width: 50%;
    /* background-color: darkslategrey; */
    justify-content: center;
    margin: 10px auto
}

#player1, #player2 {
    width: 25%;
    background: rgba(0,0,0,0.6);
    color: white;
    margin: 5px;
    text-align: center;
    border: 2px solid black;
    backdrop-filter: blur(3px);
    text-shadow: 0 0 7px #0096c7, 0 0 7px #0096c7;
    border-radius: 6px;
}

#player1 img {
    height: 45px;
}

#player2 img {
    height: 46px;
}